# Main imports
matplotlib==3.3.3
noisereduce==1.1.0
numpy==1.19.4
pydub==0.24.1
scikit-image==0.17.2
scipy==1.5.4
# opencv-python==4.4.0.46
# Secondary imports
appdirs==1.4.4
audioread==2.1.9
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
idna==2.10
imageio==2.9.0
joblib==0.17.0
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.34.0
networkx==2.5
numba==0.51.2
packaging==20.7
Pillow==8.0.1
pooch==1.3.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
requests==2.25.0
resampy==0.2.2
scikit-learn==0.23.2
six==1.15.0
SoundFile==0.10.3.post1
threadpoolctl==2.1.0
tifffile==2020.11.26
tqdm==4.54.0
urllib3==1.26.2
